BasedOnStyle: LLVM
CommentPragmas: '^ (This code|Lingotion|property of|IWYU pragma:)'
IndentWidth: 4
TabWidth: 4
UseTab: ForIndentation
ColumnLimit: 150
# Prevents breaking for example UPROPERTY strings into serveral quoted strings.
BreakStringLiterals: false

BreakBeforeBraces: Allman
BreakConstructorInitializers: BeforeComma
ConstructorInitializerAllOnOneLineOrOnePerLine: true

AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty

PointerAlignment: Left
DerivePointerAlignment: false
ReferenceAlignment: Left
SpaceAfterCStyleCast: false
IndentCaseLabels: true

SortIncludes: Never

AlignAfterOpenBracket: BlockIndent
BinPackParameters: false
BinPackArguments: false

